.message {
    margin: 0 auto;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    color: rgb(53, 47, 47);
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }

  .error {
    background-color: indianred;
  }

  .success {
    background-color: rgb(43, 116, 47);
  }